head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title= title
  //select2
  link(rel='stylesheet',href='bower_components/select2/dist/css/select2.css')
  //bootstrap
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  //datetimepicker
  link(rel='stylesheet', href='stylesheets/tempusdominus-bootstrap-4.min.css')
  //sweetalert
  link(rel='stylesheet', href='bower_components/sweetalert2/dist/sweetalert2.css')
  //customs
  link(rel='stylesheet', href='stylesheets/helper.css')
  link(rel='stylesheet', href='stylesheets/style.css')
