script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/moment/moment.js')
script(src='bower_components/popper.js/dist/popper.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.js')
script(src='bower_components/jQuery-slimScroll-1.3.8/jquery.slimscroll.js')
script(src='javascripts/sidebarmenu.js')
script(src='bower_components/sticky-kit/jquery.sticky-kit.js')
script(src='javascripts/tempusdominus-bootstrap-4.min.js')
script(src='bower_components/select2/dist/js/select2.js')
script(src='bower_components/sweetalert2/dist/sweetalert2.js')

script(src='javascripts/scripts.js')
