div.left-sidebar
  div.scroll-sidebar
    nav.sidebar-nav
      ul#sidebarnav
        li.nav-devider
        li.nav-label Home
        li
          a(class='has-arrow', href='#', aria-expanded='false')
            i(class='fa fa-unlock')
            span(class='hide-menu') Admin
          ul(aria-expanded='false' class='collapse')
            li: a(href='#') Admin 1
            li: a(href='#') Admin 2
        li
          a(class='has-arrow', href='#', aria-expanded='false')
            i(class='fa fa-unlock')
            span(class='hide-menu') Admin 2
          ul(aria-expanded='false' class='collapse')
            li: a(href='#') Admin 3
            li: a(href='#') Admin 4