extends layout

block content
  .container-fluid
    .row
      .col-md-3
        div(class='card p-30')
          .media
            div(class='media-left meida media-middle')
              span: i(class='fa fa-usd f-s-40 color-primary')
            div(class='media-body media-text-right')
              h2 1
              p.m-b-0 Total Revenue
      .col-md-3
        div(class='card p-30')
          .media
            div(class='media-left meida media-middle')
              span: i(class='fa fa-shopping-cart f-s-40 color-success')
            div(class='media-body media-text-right')
              h2 1178
              p.m-b-0 Total Revenue
      .col-md-3
        div(class='card p-30')
          .media
            div(class='media-left meida media-middle')
              span: i(class='fa fa-archive f-s-40 color-warning')
            div(class='media-body media-text-right')
              h2 25
              p.m-b-0 Total Revenue
      .col-md-3
        div(class='card p-30')
          .media
            div(class='media-left meida media-middle')
              span: i(class='fa fa-user f-s-40 color-danger')
            div(class='media-body media-text-right')
              h2 847
              p.m-b-0 Total Revenue


