doctype html
html
  include includes/head.pug
  body(class='fix-header fix-sidebar')
    div.preloader
      svg(class='circular', viewbox='25 25 50 50')
        circle(class='path', cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")
    div(class='main-wrapper')
      include includes/header.pug
      include includes/sidebar.pug
      div(class='page-wrapper')
        div(class='row page-titles')
          div(class='col-md-5 align-self-center')
            h3(class='text-warning') Inicio
          div(class='col-md-7 align-self-center')
            ol(class='breadcrumb')
              li(class='breadcrumb-item')
              a(href='#') Inicio
              li(class='breadcrumb-item active') Resumen
        block content
        footer(class='footer text-right')
          a(href='') DCNP
          .
            ©2018 Derechos Reservados.


  include includes/script.pug



