extends layout

block content
  .container-fluid
    div.row
      div.col-lg-5
        div.card
          div.card-title
            h4 Form
          div.card-body
            form(action='/add', method='POST')
              div.form-group
                label(class='control-label') Name
                input(type='text', class='form-control', name='title', placeholder='Title', required)
              div.form-group
                label(class='control-label') Description
                textarea(type='text', class='form-control', name='description', placeholder='description' required)
              button(class='btn btn-primary btn-block' type='submit') Register
      div.col-lg-7
        div.card
          div.card-title
            h4 Tasks
          div.card-body
            div.table-responsive
              table.table
                thead: tr
                  th #
                  th Name
                  th Product
                  th Quantity
                  th Status
                tbody
                  each val, index in tasks
                    tr
                      td= index + 1
                      td= val.title
                      td= val.description